.o-footer {
  height:120vh;
  background:url(../images/bg_pattern2.gif) repeat left top;
  background-size:50px 50px; 
  background-attachment: fixed;
}

.o-footer-2 {
  height:80vh;
  background:black;
}