.o-imageFeed {
  padding:2rem 0;
  background: url(../images/bg_pattern1.jpg) no-repeat center center;
  background-size:100% 100%;
  background-attachment: fixed;
}

.o-imageFeed__list {
  width:100%;
  max-width:900px;
  margin:0 auto;
  padding:0 2rem;
}

.o-imageFeed__list li {
  margin-bottom:2rem;
}

.o-imageFeed__list img {
  display:block;
  height: auto;
  width:100%;
  margin:0 auto;
  box-shadow: var(--boxShadow-default);
}

@media (min-width:600px) {
  .o-imageFeed__list img {
    height:90vh; width:auto;
  }
}