:root {
  --navbar-topGutter: 30px;  /* must be in px for js */
  --navbar-textcolor: #000;
  --navbar-padding: 0 2rem 0 1.5rem; 
  --navbar-borderRadius: 0 10rem 10rem 0;
  --navbar-lineHeight: 3rem;
  --navbarTitle-fontsize: 1.7rem;
  --navbarLink-fontsize: 1.3rem;
  --navbarLink-marginRight: .8rem;
}

.navbar-wrapper {
  min-width:var(--body-minWidth);
  position:fixed;
  top:90vh;
  left:0;
  color:var(--navbar-textcolor);
}

.navbar {
  padding:var(--navbar-padding);
  background-color: rgba(255,255,255,.8);
  border-radius: var(--navbar-borderRadius);
  box-shadow: var(--boxShadow-default);
  transition:background-color 2.5;
}

.navbar > * {
  display:inline-block; 
  vertical-align:middle;
  height:var(--navbar-lineHeight);
  line-height:var(--navbar-lineHeight);
}

@media (max-width:600px) {
  :root {
    --navbar-topGutter: 0;  
    --navbar-borderRadius:0;
    --navbar-lineHeight: 3.5rem;
    --navbar-adjustedLineHeight: calc(var(--navbar-lineHeight) - .2rem);
    --navbar-topOffset: calc(100vh - var(--navbar-adjustedLineHeight));
  }
  
  .navbar-wrapper {
    top:var(--navbar-topOffset);
    right:0;
  }
}

@media (max-width:430px) {
  :root {
    --navbar-padding: 0 0 0 .8rem;
    --navbarTitle-fontsize: 1.2rem;
    --navbarLink-fontsize: 1rem;
    --navbarLink-marginRight: .8rem;
  }  
}


/* -- internal elements -- */
.navbar__title {
  position:relative;
  top:1px;
  margin-right:calc(var(--navbarLink-marginRight) - .5rem);
  font-size:var(--navbarTitle-fontsize);
  letter-spacing:.6rem;
}

.navbarLink {
  font-size:var(--navbarLink-fontsize);
}

.navbarLink:not(:last-of-type) {
  margin-right:var(--navbarLink-marginRight);  
}

.navbarLink.-email {
  position:relative;
  top:-1px;
}

.navbarLink.-icon:hover {
  text-decoration:none;
}
