.news { 
  max-width:var(--maxwidth-content);
  margin:0 auto;
  padding:2rem var(--page-gutter);
  text-align:center;
}

.news.-gigs {
  max-width:600px;
}

.news p:not(:last-of-type),
.gig:not(:last-of-type) {
  margin-bottom:2rem;
}

.news a {
  text-decoration:underline;
}

.gig__header {
  font-size:var(--fontsize-highlight);
}

.gig__date {
  display:block; 
  text-transform: uppercase;
  font-size:var(--fontsize-small);
}

.gig__location { 
  padding-top:5px;
  font-size:var(--fontsize-small);
}